<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Actualizar Odontólogo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/d9ee20a0aa.js" crossorigin="anonymous"></script>
</head>
<body style="background: #ededed;">
<div class="card-header" style="background: #056491; color: white;">
    <h1>Sistema Reserva de Turnos</h1>
</div>
<br>
<div class="container">
    <h2>Actualizar Datos Odontólogo</h2>
    <hr>
    <br>
    <form th:action="@{/odontologos/guardar}" th:object="${odontologo}" method="post">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" th:field="*{nombre}" placeholder="Nombre del odontólogo">
        </div>
        <div class="form-group">
            <label for="apellido">Apellido</label>
            <input type="text" class="form-control" id="apellido" th:field="*{apellido}" placeholder="Apellido del odontólogo">
        </div>
        <div class="form-group">
            <label for="matricula">Matrícula</label>
            <input type="text" class="form-control" id="matricula" th:field="*{matricula}" placeholder="Matrícula">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success">Actualizar</button>
        </div>
    </form>
</div>
</body>
</html>